<!-- ======= ======= Title&Para ======= ======= ======= -->

<div class="row words" ng-if="includeTop">
  <ng-include src="titlePara">
  </ng-include>
</div>

<div class="row words" ng-if="!includeTop">
  <h2>{{ story.title }}</h2>
  <p>{{ story.para }}</p>
</div>

<!-- ======= ======= bubble ======= ======= ======= -->
<div id="col-bubble">
    <p class="text">Multi-School <a class="text" href="#">Spending Tool</a></p>
    <!-- ======= svg of chart goes below here. ======= -->
    <img class="center" id="bubble-img" src="static/images/bubble-chart.png"></div>
    <!-- ======= svg of chart goes above here. ======= -->
    </div>
</div>

<!-- ======= ======= map ======= ======= -->
<div id="col-map">
    <p class="text">District Schools <a class="text" href="/prototypes/filter-map/index.html">Mapping tool</a></p>
    <div id="storyMap-container">
        <div class="display-title">
            <span id="data-title">&nbsp;</span>
            <span id="data-subtitle">&nbsp;</span>
            <span id='chart-label' class="label-title">data chart</span>
            <span id='chart-title'>&nbsp;</span>
            <span id='chart-subtitle'>&nbsp;</span>
        </div>
        <div id='chart-container'>&nbsp;</div>
    </div>
</div>

<!-- ======= ======= Below Fold Content ======= ======= -->
<div class="row" ng-class="storyName">
  <ng-include src="belowFold">
  </ng-include>
</div>
