// VARS
$cerulean: #2956B2;

// GLOBALS
* {
   font-family: sans-serif;
}

#container {
   width: 80%;
   margin: 0 auto;
}

text {
   &.label {
      font-size: 10px;
   }

   &#tooltip_label {
      font-size: 12px;
   }
}

.highlighted {
   fill: 'white';
   background-color: 'white';
}

#tooltip {
   position: fixed;
   left: 950px;
   top: 200px;
   width: 200px;
   height: 250px;
   padding: 10px;
   background-color: $cerulean;
   border-radius: 5px;
   border: 3px solid darken($cerulean , 10%);
   
   p {
      font-size: 12px;
      line-height: 1.2em;
      color: #fff;
   }

   &.hidden {
      // display: none;
   }
}

.color {
   fill: 'grey';
}

#budget_state {
   margin-top: -20px;
}
// #school {
//    font-size: 12px;
// }
// #school {
//    font-size: 12px;
// }