// VARS
// $cerulean: #002646;
$cerulean: #001c2b;
$lighterCerulean: #6f7f87;
$red: #ff3233;
@mixin bold {
  font-weight: bold;
}

// GLOBALS
* {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   color: $cerulean;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    @include bold;
}

#container {
   width: 80%;
   margin: 0 auto;
}


// GRAPH SPECIFIC
circle {
   stroke: darken($cerulean , 10%);
   stroke-width: 2px;
   cursor: pointer;
   opacity: 0.985;

   &:hover {
      // stroke: darken($cerulean , 7%);
      stroke: grey;
   }
}

text {
   &.label {
      font-size: 10px;
   }

   &#tooltip_label {
      font-size: 12px;
   }
}

.sub_titles {
  @include bold;
  font-size: 12px;
  // transform: rotate(-25deg);
}


// TOOLTIP
#tooltip {
   position: absolute;
   width: 200px;
   height: 205px;
   padding: 10px;
   background-color: $cerulean;
   border-radius: 5px;
   border: 3px solid darken($cerulean , 10%);
   
   p {
      font-size: 12px;
      line-height: 1.666em;
      color: #fff;
   }

   &.hidden {
      display: none;
   }

  #school {
    @include bold;
    color: $red;
  }
}

// LEGEND
#legend {
  height: 250px;
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  right: 10%;
  top: 15px;
  border: 3px solid $cerulean;

  #legend_cont {
    position: absolute;
    background-color: #fff;
    height: 250 px;
  }
}

.modHeader {
  padding: 10px;
  background-color: $cerulean;
  color: #fff;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

// MENU
$menuW: 450px;
#menuInner {
  padding: 5px;
  border: 3px solid $cerulean;
  background-color: #FFF;
  
}
#menuDiv {
  border-radius: 5px;
  // margin-top: 30px;
  background-color: $cerulean;
  width: $menuW;
  
  ul {
    padding: 5px;
  }
}

#select {
  margin: 5px 20px;
  color: #fff;
  background-color: $cerulean;
  option {
    color: #fff;
  }
}

.row {
  vertical-align: top;
  display: inline-block;
  width: $menuW / 8;
  height: 15px;
  padding-right: 5px;
  font-size: 12px;
  vertical-align: middle;
  padding: 5px;
}

.rowBehavior {
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  background-color: $cerulean;
  color: #fff;
  border-radius: 3px;

  &:hover {
    color: #fff;
    background-color: lighten($cerulean, 10%);
  }
}

.title {
  @extend .row;
  @include bold;
  color: $cerulean;
  text-align: right;
}

// MINUTIA
.color {
   fill: 'grey';
}
.inactive {
  background-color: gray;
}

.selected {
  background-color: lighten($cerulean, 20%);
  color: #fff;
}

.btn_state {
   line-height: 0.5em;
}

#show_state_cont {
   margin: 5px 0px;
}

.show_state {
   line-height: 1.5em;
}