<h2>About this Project</h2><br />
<div class="about-csf">
	<div class="column col-md-2"><img class="logo-about" src="static/images/csf-logo.png" /></div>
	<div class="column col-md-8">
		<p>The 21st Century School Fund (21CSF) was founded in 1994 on the premise that communities are responsible for creating healthy, safe, and educationally appropriate learning environments.</p>
	</div>
</div><br/>
<div class="about-cfdc">
	<div class="column col-md-2"><img class="logo-about" src="static/images/codefordclogo.png" /></div>
	<div class="column col-md-8">
		<p>Code for DC is a Code for America Brigade located here in Washington, DC. Founded in 2012, we are a a non-partisan, non-political group of volunteer civic hackers working together to solve local issues and help people engage with the city. </p>
	</div>
</div>

