<h2>Appendix</h2>
<div class="appendix-container">
	<h3>Sources</h3>
	<br />
	<p>Data was provided by these Washington D.C. public agencies: </p>
	<br />
	<ul class="sources-list">
		<li>Office of Budget and Finance</li>
		<li>Office of the State Superintendent of Education</li>
		<li>Committee on Education, Council of the District of Columbia</li>
		<li>Public Charter School Board</li>
		<li>District of Columbia Public Schools</li>
		<li>Department of General Services</li>
		<li>Office of the Chief Technology Officer</li>
	</ul>
	<br />
	<p>Data used in this analysis is available <a href="#" class="need" target="_blank">here</a>.</p><br />
	<p>For more information, contact: </p><p>21st Century School Fund </p>
	<p>www.21csf.org</p><p>202-745-3745 x 15</p> <p>nhuvendick@21csf.org </p>

</div>
<div class="appendix-container">
	<h3>Additional Reading</h3><br />
	<p class="need">Fill with links of the data used.</p>
</div>
