<h2>Resources</h2>
<div class="appendix-container">
	
	<p>There is no comprehensive data set of DC public school facilities funding and spending.  These data were compiled for this project from these disparate sources:</p>
	<br />
	<ul class="sources-list">
		<li><a href="http://cfo.dc.gov/node/1149377" target="_blank">Office of Budget and Finance</a></li>
		<li><a href="http://osse.dc.gov/service/data" target="_blank">Office of the State Superintendent of Education</a></li>
		<li><a href="http://dccouncil.us/committees/committee-on-education" target="_blank">Committee on Education, Council of the District of Columbia</a></li>
		<li><a href="http://www.dcpcsb.org/" target="_blank">Public Charter School Board</a></li>
		<li><a href="http://dcps.dc.gov/service/school-data" target="_blank">District of Columbia Public Schools</a></li>
		<li><a href="http://dgs.dc.gov/dgs-capital-construction-services-division" target="_blank">Department of General Services</a></li>
		<li><a href="http://octo.dc.gov/service/dc-gis-services" target="_blank">Office of the Chief Technology Officer</a></li>
		<li><a href="http://dme.dc.gov/service/public-education-facility-planning" target="_blank">Office of the Deputy Mayor for Education</a></li>
	</ul>
	<br />
	<p>21CSF has checked and corrected data when our records or research indicated that there were errors in official data.  The data file used for this application is available for download <a href="http://www.21csf.org/csf-home/datashop.asp#" target="_blank">here</a>.  These data are provided for informational purposes only and they have not been verified or adopted by DC government as official data.  We are working with relevant agencies to align these facilities data.</p><br />
	<p>For more information, contact: </p>
	<p>21st Century School Fund </p>
	<p><a href="www.21csf.org">www.21csf.org</a></p>
	<p>202-745-3745 x 15</p> 
	<p>nhuvendick@21csf.org </p>

</div>
