<h2>Where are facilities now?</h2>
<div class="column col-md-6">
	<br />
	<p class="need">Need map image from Tim</p>
</div>
<div class="column col-md-5">
	<br/ >
	<h3>All Publicly Funded PK-12 schools 2014-15</h3><br />
	<h3>217 Schools Renovated</h3>
	<h3>15,654,490 Gross Square Feet of Space</h3>
	<h3>85,232 students</h3><br />
	<p>* The charter <strong>facilities allowance add-on</strong> was developed to cover rent and capital construction, to ensure that students in charter schools had adequate school facilities. However, charter operators do not have to use the facilities allowance for facilities, but may use it for any purpose.  
	<!--(can we make this an on-hover?) -->
</p>
</div>