<h2>DCPS digs out: $1 billion to stabilize neglected DCPS facilities</h2><br />
<div class="dig-out-text column col-md-11">
  <p>In 1995, DCPS facilities were an average of 65 years old with $1.2 billion (adjusted to reflect 2015 inflation) of deferred maintenance and repairs. </p>
  <br />
  <p>From FY1998 to FY2015, the City has allocated roughly $1 billion to stabilize and downsize DCPS buildings and grounds to ensure healthy and safe school facilities. </p><br />
  <div>
  	<iframe id="phase-one" src="http://codefordc.org/school-modernization/prototypes/home_bubbles/phase1/index.html"></iframe>
  </div>
</div>