<h2>Welcome</h2>
<br />
<div class="col-md-10">
	<p>In 1995, the District of Columbia Public Schools executed its <a href="http://www.21csf.org/best-home/docuploads/pub/251_DCPublicSchoolsPreliminaryMP1995_2005.pdf" target="_blank">first major investment</a> to modernize all of the DCPS school buildings and grounds. Since then, the District has made tremendous investments in its public education facilities, but there is still work to be done.</p><br />
	<p>It is our hope that the District’s leaders will use this dataset to inform and guide decisions on the proposed capital budget and charter facilities allowance add-ons for <a href="http://dme.dc.gov/publication/dc-public-education-2013-master-facilities-plan" target="_blank">FY 2017-2022</a> and beyond.</p><br />
	<p>What follows is a brief history of school facility spending and two tools to access data from 1998 – 2015.</p><br />

	<p>This is a project brought to you by 21st Century School Fund and volunteers from Code for DC.</p><br />

	<div class="logo-row">
		<div class="logo csf-logo">
			<a href="http://www.21csf.org/csf-home/"><img class="logo-img" src="static/images/csf-logo.png" /></a>
		</div>
		<div class="cfdc-logo logo">
			<a href="http://codefordc.org/"><img class="logo-img" src="static/images/codefordclogo.png" /></a>
		</div>
	</div>
</div>
