<h2>Welcome</h2>
<br />
<div class="col-md-10">
	<p>The <strong>DC Capital Budget</strong> supports DCPS facility modernization and other capital improvement projects for DCPS and other city agencies.  Charter school costs for leasing, land and building purchases, and building improvements are supported by the District government with the <strong>charter facilities allowance add-on</strong>, which is paid out of the annual operating budget. Charter operators may also borrow funds against their revenue.  DC provides maintenance and operations funds for DCPS and the charter schools as part of the Uniform per Student Funding Formula in the schools’ operating budgets.</p><br />
	<p>Use our map and bubble tools to view the District’s DCPS and charter school capital-related facilities appropriations from FY1998 – 2021 and to engage in discussions about the <a href=" http://cfo.dc.gov/sites/default/files/dc/sites/ocfo/publication/attachments/ga_dcps_capital_2017m.pdf" target="_blank">FY2017-2022</a> proposed capital budget and charter facilities allowance add-ons for and beyond.</p><br />

	<p>This is a project of the 21st Century School Fund and volunteers from Code for DC.</p><br />

	<div class="logo-row">
		<div class="logo csf-logo">
			<a href="http://www.21csf.org/csf-home/"><img class="logo-img" src="static/images/csf-logo.png" /></a>
		</div>
		<div class="cfdc-logo logo">
			<a href="http://codefordc.org/"><img class="logo-img" src="static/images/codefordclogo.png" /></a>
		</div>
	</div>
</div>
