<h2>Progress, but poor protections</h2>
	<div class="column col-md-3">
	<br />
		<p>Since 1998, the District has made tremendous investments in its public education facilities.</p>
	</div>
	<div class="column col-md-8"><br />
		<table>
		  <tr class="med-blue-bg">
		    <th colspan="5">2014-2015</th>
		    <th>FY1998-2015</th>
		    <th>FY2016-2021</th>
		  </tr>
		  <tr class="light-blue-bg bold">
		    <td>Sector</td>
		    <td># Bldgs</td>
		    <td>Gross Sq Ft</td>
		    <td>Capacity</td>
		    <td>Enrollment</td>
		    <td>Expended</td>
		    <td>Planned</td>
		  </tr>
		  <tr class="lightest-blue-bg">
		    <td class="bold">DCPS</td>
		    <td>113</td>
		    <td>11,903,231</td>
		    <td>58,261</td>
		    <td>47,257</td>
		    <td>$2.6 billion</td>
		    <td>$1 billion</td>
		  </tr>
		  <tr class="light-blue-bg">
		    <td class="bold">Charters</td>
		    <td>107</td>
		    <td>4,706,552</td>
		    <td>43,628</td>
		    <td>37,342</td>
		    <td>$1 billion</td>
		    <td>$730 million*</td>
		  </tr>
		  <tr class="lightest-blue-bg bold">
		    <td>Total</td>
		    <td>220</td>
		    <td>16,609,783</td>
		    <td>101,889</td>
		    <td>84,599</td>
		    <td>$3.6 billion</td>
		    <td>$1.73 billion</td>
		  </tr>
		  <tr>
		  	<td colspan="7">* Assumes no change from 2014-2015 enrollments and $3,124 facilities allowance.</td>
		  </tr>
		</table>
		<br/>
	</div>
	<div class="column col-md-11"><p>Even with these unprecedented levels of funding there are still DCPS children attending schools that are not modernized and the communities with least facilities investment by student and square footage, generally have the most at risk students.</p></div>
	<div class="column col-md-11"><br />
		<table id="school-table">
			<tr class="med-blue-bg white-text">
				<td>HS Feeder System</td>
				<td>Ballou<br />(Ward 8)</td>
				<td>Anacostia<br />(Ward 8)</td>
				<td>Woodson<br />(Ward 7)</td>
				<td>Dunbar<br />(Ward 2)</td>
				<td>Coolidge<br />(Ward 4)</td>
				<td>Roosevelt<br />(Ward 4)</td>
				<td>Cardozo<br />(Ward 1)</td>
				<td>Eastern<br />(Ward 6)</td>
				<td>Wilson<br />(Ward 3)</td>
				<td>City-Wide<br />Selective Schools</td>
			</tr>
			<tr class="red-text bold light-blue-bg">
				<td>% at Risk</td>
				<td>81%</td>
				<td>78%</td>
				<td>76%</td>
				<td>63%</td>
				<td>56%</td>
				<td>56%</td>
				<td>46%</td>
				<td>43%</td>
				<td>15%</td>
				<td>24%</td>
			</tr>
			<tr class="lightest-blue-bg">
				<td>Average Spending <br/>by Student</td>
				<td>$46,988</td>
				<td>$57,453</td>
				<td>$41,656</td>
				<td>$61,864</td>
				<td>$62,527</td>
				<td>$77,276</td>
				<td>$69,777</td>
				<td>$47,441</td>
				<td>$80,828</td>
				<td>$107,561</td>
			</tr>
			<tr class="lightest-blue-bg">
				<td>Average Spending <br/>by GSF</td>
				<td>$227</td>
				<td>$278</td>
				<td>$219</td>
				<td>$340</td>
				<td>$318</td>
				<td>$369</td>
				<td>$300</td>
				<td>$241</td>
				<td>$469</td>
				<td>$420</td>
			</tr>
		</table>
		<br/>
	</div>
	<div class="column col-md-11">
		<p>Charter schools do not have to use their facilities allowance for facilities, and there is no public entity accountable for the facilities conditions in charter schools.</p>
	</div>