#wrap {
    width: 1200px;
    margin: 0 auto;
}

#navigation {
    float: left;
    width: 175px;
    height: 300px;
}

#navigation ol {
    padding-left: 25px;
}

div.charts #bubble,
div.charts #map {
    width: 400px;
    display: inline-block;
}
div.chart {
    float: left;
    width: 1025px;
}

div.charts img {
    height: 300px;
}

div.charts #map {
    width: 500px;
}


#narrative div.words {
    min-height: 175px;
}


div#storyMap-container {
    height: 400px;
    width: 315px;
}
