
/* ======= general ======= */
body {
  font-family:"Ariel", sans-serif;
}

/* ======= rows & columns ======= */
.row, .column {
    box-sizing: border-box;
}
.row {
    overflow: hidden;
    /*border: 1px solid rebeccapurple;*/
}
.column {
    float: left;
    text-align: center;
    /*border: 1px solid Tomato;*/
}

/* ======= columns ======= */
.column-1 { width: 8.333%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%; }

/* ======= rows ======= */
.header > .column {
    height: 50px;
    line-height: 50px;
    background-color: sandybrown;
}
.content {
    height: 480px;
}
.footer > .column {
    height: 100px;
    line-height: 100px;
    background-color: moccasin;
}

/* ======= titles ======= */
h1 {
    padding: 0;
    margin: 0;
    line-height: 70px;
    color: rebeccapurple;
}
h5 {
    padding: 0;
    margin: -10px 0;
    line-height: 30px;
}
.title {
    display: block;
    margin: 0;
    padding: 5px 0;
    width: 100%;
    height: 20px;
    font: 16px Arial, Helvetica, sans-serif;
    background: #aaa;
}

/* ======= displays ======= */
.displayCol {
    width: 100px;
    height: 100%;
}
/*.filters {
    margin-left: 5px;
    width: 100px;
}*/


/* ======= map ======= */
.mapCol {
    width: 200px;
    height: 200px;
}
#map {
    width: 100%;
    height: 100%;
}

/* ======= map info box ======= */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    border-radius: 5px;
    margin: 0 0 5px;
    color: #777;
}
.infoWindow {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

/* ======= filterNav ======= */
#filterNav {
    float: left;
    width: 100%;
    z-index: 9;
}
.category {
    display: block;
    float: left;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    font: 14px Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: #eee;
}
.label {
    float: left;
    margin-top: 12px;
    text-align: right;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rebeccapurple;
    width: 8%;
}
.filterText {
    margin: 0 5px 0 5px;
    width: 100%;
	text-decoration: none;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 12px;
    color: black;
}
#filterNav > div {
    float: left;
}
#filterNav ul {
	list-style: none;
	position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
	padding: 0;
}
#filterNav ul li {
    position: relative;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 1px;
    padding: 2px 0;
    font-size: 12px;
    background-color: #ddd;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#filterNav ul li:hover {
    background-color: #999;
    border: 2px solid #333;
}
#filterNav ul li:last-of-type {
    background-color: #aaa;
    border: 2px solid gray;
}

/*#filterNav ul li a {
    margin: 16px 5px 0 5px;
    width: 100%;
	text-decoration: none;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 12px;
    color: black;
}*/
.activeFilter {
    padding: 5px;
}

/* ======= profile ======= */
.profileCol {
    display: -webkit-box || -webkit-inline-box;
    display: -moz-box || -moz-inline-box;
    display: -ms-flexbox || -ms-inline-flexbox;
    display: -webkit-flex || -webkit-inline-flex;
    display: inline-flex;
    flex-direction: -webkit-column;
    justify-content: -webkit-flex-start;
    align-items: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
.value {
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    color: black;
    width: 80%;
}
#chartData {
    width: 90%;
    padding: 10px 0 0 0;
    border: 1px solid Tomato;
}

/* ======= displays ======= */
.displays {
    width: 100px;
    height: 100%;
}
.displayDivs > div {
    margin: 10px;
    padding: 8px 0 0 0;
    width: 80px;
    height: 30px;
}
#wards {
    background-color: red;
}
#feeders {
    background-color: green;
}
#public {
    background-color: blue;
}
#charter {
    background-color: purple;
}

/* ======= legend ======= */
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
