/*
Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 11 of index.html

6:   <title>SVG Lines</title>
7:   <link rel="stylesheet" href="style.css">
8: </head>
9: <body>
10:  
11:  <div class="container">
12:     <div id="chart"></div>
13:  </div>
14: 
15:   <script src='script.js'></script>
16: </body>

Backtrace:
index.html:11
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:483:in `block in tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:441:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:441:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:441:in `tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:293:in `watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin.rb:108:in `method_missing'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 11 of index.html\A \A 6:   <title>SVG Lines</title>\A 7:   <link rel=\"stylesheet\" href=\"style.css\">\A 8: </head>\A 9: <body>\A 10:  \A 11:  <div class=\"container\">\A 12:     <div id=\"chart\"></div>\A 13:  </div>\A 14: \A 15:   <script src='script.js'></script>\A 16: </body>"; }
