/*
Error: Inconsistent indentation: previous line was indented by 2 spaces, but this line was indented by 1 space.
        on line 59 of script.js

54:     }
55: 
56:     return totalExpenditures;
57:   }
58:  
59:  // **************************************
60:  // Build rectangle
61:  // **************************************
62:   var rect = svg
63:     // .selectAll('rect')
64:     // .data(data)

Backtrace:
script.js:59
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:500:in `try_comment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:471:in `block in tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:441:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:441:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:441:in `tabulate'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:293:in `watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/plugin.rb:108:in `method_missing'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.17/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: previous line was indented by 2 spaces, but this line was indented by 1 space.\A         on line 59 of script.js\A \A 54:     }\A 55: \A 56:     return totalExpenditures;\A 57:   }\A 58:  \A 59:  // **************************************\A 60:  // Build rectangle\A 61:  // **************************************\A 62:   var rect = svg\A 63:     // .selectAll('rect')\A 64:     // .data(data)"; }
