@mixin blackStroke {
   stroke: #000;
   stroke-width: .5px;
}

rect {
   &.genFundsRect,
   &.rectsForWards {
      @include blackStroke;
   }

   &.wardLine {
      //fill: #f0f0f0;
   }
}

g {
   margin-bottom: 20px;
}
