// MIXINS
@mixin blackStroke {
   stroke: #000;
   stroke-width: .5px;
}

@mixin lowerOpacity {
   opacity: 0.2;
}


// VARIABLES
$hoverOpacity: 0.4;


// GLOBALS
* {
   // margin: 0;
   // padding: 0;
   font-family: sans-serif;
}

.container {
   width: 80%;
   margin: 0 auto;
}
h1 {
   font-size: 3.25em;
}

// THE CHART
#chart {
   margin-top: 30px;
}

rect {    

   &.genFundsRect,
   &.rectsForWards {

      @include blackStroke;
   }

   &.wardLine {
      @include lowerOpacity;

      &:hover {
         opacity: $hoverOpacity;
      }
   }

   &.rectsTowardsWards {
      // fill: #000;
      @include lowerOpacity;

      &:hover {
         opacity: 0.4;
      }
   }
}

// #chart {
//    svg {
//       transform: rotate(90deg);
//    }
// }